@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-7xl font-fancy;
}

a {
  @apply text-gray-700;
}

a:hover {
  @apply text-black;
}

.hero {
  background: radial-gradient(#62817120 15%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(#62817115 15%, rgba(0, 0, 0, 0) 16%), #f8f8f8;
  background-position: 0 0, 10px 10px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 20px 20px;
}
