@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-fancy;
}

a {
  @apply text-gray-700;
}

a:hover {
  @apply text-black;
}

.pattern--white {
  background: radial-gradient(#62817120 15%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(#62817115 15%, rgba(0, 0, 0, 0) 16%), #f8f8f8;
  background-position: 0 0, 10px 10px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 20px 20px;
}

.pattern--green {
  background: radial-gradient(#00000015 15%, rgba(0, 0, 0, 0) 16%),
    radial-gradient(#00000010 15%, rgba(0, 0, 0, 0) 16%), #628171;
  background-position: 0 0, 10px 10px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 20px 20px;
}

.gradient {
  background-size: 400% 400%;
  animation: bg-animate 8s ease infinite;
}

@-webkit-keyframes bg-animate {
  0% {
    background-position: 0% 27%;
  }
  50% {
    background-position: 100% 74%;
  }
  100% {
    background-position: 0% 27%;
  }
}
@-moz-keyframes bg-animate {
  0% {
    background-position: 0% 27%;
  }
  50% {
    background-position: 100% 74%;
  }
  100% {
    background-position: 0% 27%;
  }
}
@keyframes bg-animate {
  0% {
    background-position: 0% 27%;
  }
  50% {
    background-position: 100% 74%;
  }
  100% {
    background-position: 0% 27%;
  }
}
